body {
  margin: 0;
}

.header-container {
  width: 100%;
  background: #c0dfd9;
  padding: 20px 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #3b3a36;
}

.search-bar {
  .MuiInput-inkbar-17:after {
    background: #3b3a36;
  }
  .MuiFormLabel-focused-12 {
    color: #3b3a36;
  }
}

.main-container {
  display: flex;

  .hymn-view {
    width: 70%;
    padding: 20px;
    font-size: 20px;
    background: #e9ece5;
  }
  .hymn-list {
    width: 30%;
    background: #b3c2bf;
  }
}

.center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}